
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Խանութի ծրագիր</li>
            <li class="nav-item">
                <a class="nav-link" href="/Index/">
                    <i class="nav-icon icon-home"></i> Սկիզբ
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle">
                    <i class="nav-icon icon-home"></i> Տեղեկատուներ
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Directory/Grupe">
                            <i class="nav-icon icon-docs"></i> Ապրանքի խմբեր
                        </a>
                    </li>
                </ul>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Directory/ProductName">
                            <i class="nav-icon icon-notebook"></i> Ապրանքի անվ
                        </a>
                    </li>
                </ul>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Directory/BuyerList">
                            <i class="nav-icon icon-people"></i> Գնորդների ցանկ
                        </a>
                    </li>
                </ul>
            </li>


             <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="/Information">
                    <i class="nav-icon icon-note"></i> Ապր․ մուտք
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Information/Product/ProductInfo">
                            <i class="nav-icon icon-docs"></i> Փաստ․ տվյալներ
                        </a>
                    </li>
                </ul>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductName">
                            <i class="nav-icon icon-notebook"></i> Ապրանքների ցանկ
                        </a>
                    </li>
                </ul>
            </li>




            <li class="nav-item">
                <a class="nav-link" href="/Management/Menu4">
                    <i class="nav-icon icon-people"></i> Վաճառք
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Management/Menu4">
                    <i class="nav-icon icon-people"></i> Պահեստ
                </a>
            </li>

             <li class="nav-item">
                <a class="nav-link" href="/Management/Menu4">
                    <i class="nav-icon icon-people"></i> Հաշվետվություն
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Management/Menu4">
                    <i class="nav-icon icon-people"></i> Օգնություն
                </a>
            </li>


        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>